#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.cards {
  padding: 2em;
  list-style: none;
  width: 100%;
  height: 20%;
}

.read-the-docs {
  color: #888;
}

.form-row {
  display: flex;
  margin-bottom: 0.8em;
}

.form-row input {
  width: 80%;
}

.form-row label {
  margin-left: 0px;
  margin-right: 3%;
  width: 10%;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/top-view-delicious-organic-wine-grapes_23-2148722561.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.hero-content {
  text-align: left;
  z-index: 2;
  margin: 0;
  padding: 0%;
  width: 70%;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  vertical-align: top;
  margin: 0;
  padding: 0%;
  z-index: 10;
}

.box {
  inline-size: 175px;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 0%;
  text-align: left;
  vertical-align: top;
  padding: 0%;
  z-index: 2;
}

.hero-content h4 {
  font-size: 0.75rem;
  margin-bottom: 2rem;
  text-align: left;
  padding: 25px;
  width: 1000px;
  vertical-align: text-top;
}

.cta-button {
  background-color: #b22222; /* Wine red color */
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #8b0000; /* Darker wine red color */
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for text readability */
  z-index: 1;
}

.wine-container {

}


